*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, geneva, tahoma, sans-serif;
    margin: 0;
}
header {
    padding: 40px 30px 50px 70px;
    background: #0400ee;
    text-align: center;
    color: #FFF;
}
h1{
    font-family:  Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h2{
    padding-bottom: 15px;
}
nav ul {
    list-style: none;
    padding: 14px 20px;
    display: flex;
    background-color: #000000;
}
nav ul li a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
}
nav ul li a:hover {
    color: black;
    background-color: rgb(0, 110, 255);
}
section{
    padding: 20px;
}
section article p{
    padding: 5px 0;
}
.lista{
    padding: 30px;
}
li::marker{
    font-weight: bold;
}
footer{
    padding: 20px;
    text-align: center;
}
.produto{
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.produto h2{
    color: #0e6856;
}
.produto p{
    margin: 5px 0;
}
.preco{
    color:coral;
    font-weight: bold;
}
form {
    padding: 15px;
    border: 1px solid rgb(0, 110, 255);
}
label {
    color: rgb(0, 110, 255);
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 98%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #CCC
}
input[type="submit"] {
    background-color: darkred;
    color: #FFF;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}