* {
    margin: 0;
    padding: 0;
}

body {
    font-size: sans-serif;
}

:root {
    --Azul: #3a5fed;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    width: 100px;
    top: 20px;
    z-index: 10;
}

.nav-link {
    font-weight: 600;
    margin-left: 25%;
}

.navbar a:hover {
    color: var(--Azul)
}

.search-wrapper {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
    font-size: 18px;
    pointer-events: none;
}

.search-input {
    padding-left: 2.5rem;
}

.icon-backpack {
    font-size: 24px;
    color: #0d6efd;
}

.btn {
    height: 40px;
    background-color: var(--Azul);
    color: #FFFF;
    margin-left: 40px;
}
